<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="2.0" package="VeloNSK.VeloNSK" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="VeloNSK.Android"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application>
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyClLzWW5D51CZ7rXCZCTbAGx93hXxYetPw" />
		<!-- ADD FILE PROVIDER HERE -->
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="VeloNSK.Android.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
</manifest>